<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<%- include lib/apicalh01 %>
<% var pagename="Ticket history" %>
<!--   <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
<link href="assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
<script>
    function startTour() {
        var tour = introJs()
        tour.setOption('tooltipPosition', 'auto');
        tour.setOption('positionPrecedence', ['left', 'right', 'bottom', 'top'])
        tour.start()
    }

</script>
<script type="text/javascript">
    var History=[];
    var tddetailid = "";
    var Screenfields= [];
</script>
<style>
input,textarea,select{
    margin:0 0 10px 0;
}
  .element {
      position: relative;
      top: 50%;
      transform: translateY(-10%);
  }

p {
    margin: 0 0 5px 0;
}

.form-group {
    margin-bottom: 0;
}

.vertical-menu {
    width: 250px;
    height: 300px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.card {
    /*border: 0.1px solid #a1a1a1;*/
    padding: 10px 10px;
    background: #FDFEFE;
    width: 90%;
    border-radius: 3px;
    margin: 0 0 5px 0;
}

.card1 {
    border: 1px solid #a1a1a1;
    padding: 10px 10px;
    /* background: #dddddd;*/
    width: 90%;
    border-radius: 3px;
}


#myInput {
    background-image: url('searchblack.png');
    /*                background-position: 10px 12px;*/
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 8px 20px 8px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: block
}

#myUL li a.header {
    background-color: #e2e2e2;
    cursor: default;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

nav ul {
    height: 450px;
}

nav ul {
    overflow: hidden;
    overflow-y: scroll;
}
</style>

<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <%- include lib/apicalh02 %>
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="assets/img/user.png" alt="" /></a>
                        </div>
                        <div class="info">
                          <%=user.enname  %>
                      </div>
                  </li>
              </ul>
              <!-- end sidebar user -->
              <%- include lib/apicalm01 %>
          </div>
          <!-- end sidebar scrollbar -->
      </div>
      <!-- end #sidebar -->

      <!-- begin #content -->
      <div id="content" class="content">

        <!-- end breadcrumb -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn element">
                    <a href="#" class="btn btn-s btn-icon btn-circle btn-success edit" id="<%= f.txnid %>"><i class="fa fa-pencil"></i></a>
                </div>
                <h4 class="panel-title">Ticket history</h4>

            </div>
            <div class="panel-body" style="background-color: #ededed">

                <div class="row">
                    <div class="col-md-5">
                        <table class="table table-profile">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <h4>Ticket</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="highlight">
                                    <td>Rasied By</td>
                                    <td><%=f.cust %></td>
                                </tr>
                                <tr>
                                    <td class="field">Raised On</td>
                                    <td><%=new Date(f.txndate).toISOString().slice(0,10).replace('T',' ').toString(); %></td>
                                </tr>
                                <tr>
                                    <td class="field">Contact Number</td>
                                    <td><i class="fa fa-mobile fa-lg m-r-5"></i>
                                        <%=f.contactno %></td>
                                    </tr>

                                    <tr>
                                        <td class="field">Contact Email</td>
                                        <td><%=f.contactemail %></td>
                                    </tr>
                                    <tr class="divider">
                                        <td colspan="2"></td>
                                    </tr>

                                    <tr>
                                        <td class="field">Product Brand name</td>
                                        <td><%=f.brandname %></td>
                                    </tr>
                                    <tr>
                                        <td class="field">Product Model Number</td>
                                        <td><%=f.modelno %></td>
                                    </tr>
                                    <tr>
                                        <td class="field">Product Serial Number</td>
                                        <td><%=f.serialno %></td>
                                    </tr>
                                    <tr>
                                        <td class="field">Product Category</td>
                                        <td><%=f.prodcatname %></td>
                                    </tr>
                                    <tr>
                                        <td class="field">Product Batch Date</td>
                                        <td><%=f.batchdate %></td>
                                    </tr>
                                    <tr>
                                        <td class="field">Issue</td>
                                        <td><%=f.issuedetails %></td>
                                    </tr>
                                    <tr>
                                        <td class="field">Machine name</td>
                                        <td><%=f.machinename %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-7" id="card1">
                            <!-- remove -->
                            <h4 style="text-align: center;">Ticket History</h4>
                            <!--   <div  class="content" id="content"> -->
                             <% if( f.history.length >0 ){ %>
                             <div    style="max-height: 600px; overflow: auto;">
                             <ul id="hist_list" class="timeline">
                                <%
                                f.history.forEach (function(srvreq){
                                %>
                                <li>
                                    <!-- begin timeline-time -->
                                    <div class="timeline-time">
                                     <span class="date"><small><%=new Date(srvreq.dategen).toISOString().slice(0,10).replace('T',' ').toString(); %></small></span>
                                 </div>
                                 <!-- end timeline-time -->
                                 <!-- begin timeline-icon -->
                                 <div class="timeline-icon">
                                    <a href="javascript:;"><i class="fa fa-paper-plane"></i></a>
                                </div>
                                <!-- end timeline-icon -->
                                <!-- begin timeline-body -->
                                <div class="timeline-body">
                                   <!-- <div class="timeline-header"> 
                                        <span class="userimage"><img src="assets/img/user.png" alt="" /></span> 
                                       <strong> Met by : </strong><span class="username"><small></small></span>
                                         <span class="pull-right text-muted">18 Views</span>
                                     </div>-->
                                     <div class="timeline-content">

                                        <p><strong>Status:</strong>
                                            <%=srvreq.ticketsts %>
                                        </p>
                                        <p><strong>Assinged to :</strong>
                                            <%=srvreq.assignto %>
                                        </p>
                                        <p><strong>Assigned by:</strong>
                                            <%=srvreq.assignby %>
                                        </p>
                                        <p><strong>Remarks:</strong>
                                            <%=srvreq.Notes %>
                                        </p>
                                    </div>

                                </div>
                                <!-- end timeline-body -->
                            </li>
                            <%   }); %>
                            <li>
                                <!-- begin timeline-icon -->
                                <div class="timeline-icon">
                                    <a href="javascript:;"><i class="fa fa-stop"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                        <% }%>
                        <!-- end timeline -->
                        <!--  </div> -->

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content"  >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ticket Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form action="/" method="POST" id="formf" data-parsley-validate="true">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4">Customer name :</label>
                                            <div class="col-md-8">
                                                <input id="cust_name" type="text" name="cust_name" placeholder="Customer name" class="form-control" value="" readonly />
                                            </div>

                                            <label class="col-md-4">Company name :</label>
                                            <div class="col-md-8">
                                                <input id="comp_name" type="text" name="comp_name" placeholder="Company name" class="form-control" value="" readonly />
                                            </div>

                                            <label class="col-md-4">Request no :</label>
                                            <div class="col-md-8">
                                                <input id="srv_req_no" type="text" name="srv_req_no" placeholder="Service request number" class="form-control" value="" readonly />
                                            </div>

                                            <label class="col-md-4">Product Brand :</label>
                                            <div class="col-md-8">
                                                <input id="brandname" type="text" name="brandname" placeholder="Product Brand" class="form-control" value="" readonly/>
                                            </div>


                                            <label class="col-md-4">Product Category:</label>
                                            <div class="col-md-8">
                                                <input id="category" type="text" name="category" placeholder="Product category" class="form-control" value="" readonly/>
                                            </div>


                                            <label class="col-md-4">Issue/Problem :</label>
                                            <div class="col-md-8">
                                                <textarea class="form-control" placeholder="Problem description" rows="5" name="issue_desc" maxlength="500" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">



                                            <label class="col-md-4">Machine name :</label>
                                            <div class="col-md-8">
                                              <input type="text" name="machinename" placeholder="Machine Name" class="form-control" value=""  />
                                          </div>

                                          <label class="col-md-4">Serial number :</label>
                                          <div class="col-md-8">
                                            <input id="serial_number" type="text" name="serial_number" placeholder="Product serial number" class="form-control" value="" />
                                        </div>


                                        <label class="col-md-4">Model number :</label>
                                        <div class="col-md-8">
                                            <input id="model" type="text" name="modelno" placeholder="Model number" class="form-control" value="" />
                                        </div>
                                        <label class="control-label col-md-4">Select Status</label>
                                        <div  class="col-md-8">
                                            <select  name="status" class="form-control" api="v1/getstatus" required="">
                                                <option value="NA" selected>NA</option>
                                            </select>
                                        </div>

                                        <label class="col-md-4">Assign to  :</label>
                                        <div class="col-md-8">
                                            <select name="assign_to" class="form-control" api="v1/getassignto" required="">
                                                <option value="NA" selected>NA</option>
                                            </select>
                                        </div>

                                        <label class="col-md-4">Notes :</label>
                                        <div class="col-md-8">

                                            <textarea class="form-control" placeholder="notes" rows="5" name="notes" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    <a href="javascript:onValidate();" class="btn btn-sm btn-success" >Done</a>
                </div>
            </div>
        </div>
    </div>


</div>
                    <!--  <p class="text-center">
                            &copy; Apical Innovations All Right Reserved 2017
                        </p> -->
                        <!-- end #content -->
                        <!-- begin scroll to top btn -->
                        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
                        <!-- end scroll to top btn -->
                    </div>
                    <!-- end page container -->
                    <!-- ================== BEGIN BASE JS ================== -->
                    <%- include lib/apicalf02.ejs %>
                    <!-- ================== END BASE JS ================== -->

                    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
                    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
                    <script src="assets/js/timeline.demo.min.js"></script>
                    <script src="assets/plugins/parsley/dist/parsley.js"></script>
                    <script src="assets/js/apps.min.js"></script>
                    <!-- ================== END PAGE LEVEL JS ================== -->
                    <script type="text/javascript" src="assets/js/intro.js"></script>

                    <script>
                        $(document).ready(function() {
                            App.init();
                        
              $('select').each(
               function(index){  
                var input = $(this);
                var api=input.attr('api');
                if(input.attr('name') !== "data-table_length"){
                    $.ajax({
                     type: "GET",
                     url: api,
                     timeout: 6000,
                     contentType: 'application/json',
                     success: function(data)
                     {
//                                        alert(data);
helpers.buildDropdown(
    JSON.parse(JSON.stringify(data)),
    input,
    'Select an option'
    );
},
error:function(xhr, status,error){
//                                        alert(status+" "+error.Message+" "+xhr.responseText); 
}      
});
                }
            });

                        });
                    </script>

                    <script type="text/javascript">

                       $('#modal-dialog').on('hidden.bs.modal', function () {
                        $(this).find("input,textarea,select").val('').end();
                        $('#formf').parsley().destroy();
                        $('#formf').validate().resetForm(); 
                    })
                       $('#modal-dialog').on('show.bs.modal', function(e) {
                        $.ajax({
                            type: "POST",
                            url: "/getservicedetail",
                            timeout: 6000,
                            contentType: 'application/json',
                            data: JSON.stringify({lid: tddetailid}),
                            success: function(response) {
                              var parsed= JSON.parse(JSON.stringify(response));
//                                  for(var x in parsed){
//                                    var datavalue = parsed[x];
$(e.currentTarget).find("input[name='cust_name']").val(parsed["customer"]);
$(e.currentTarget).find("input[name='comp_name']").val(parsed["compname"]);
$(e.currentTarget).find("input[name='srv_req_no']").val(parsed["txnrefno"]);
$(e.currentTarget).find("input[name='brandname']").val(parsed["brandname"]);
$(e.currentTarget).find("input[name='category']").val(parsed["prodcatname"]);
$(e.currentTarget).find("textarea[name='issue_desc']").val(parsed["issuedetails"]);
$(e.currentTarget).find("input[name='serial_number']").val(parsed["serialno"]);
$(e.currentTarget).find("input[name='modelno']").val(parsed["modelno"]);
$("select[name='status'] option[value='"+parsed["ticketsts"]+"']").attr('selected','selected');
$("select[name='assign_to'] option[value='"+parsed["assignto"]+"']").attr('selected','selected');
}
});
                    });


                  $(".edit").click(function(event){
                          var productId = $(this).attr('id');;
                          tddetailid = productId;
                          $("#modal-dialog").modal('show');
                      });

                      function onValidate() {
//            alert("funcntion called");
var form = $('#formf');
form.parsley().validate();
if (form.parsley().isValid()) {
//                alert('valid');
var formdata = $('#formf').serializeArray();
                //structure json
//                alert('formdata'+formdata);
var data = formdata.reduce(function(a, x) {
    a[x.name] = x.value;
    return a;
}, {});
Screenfields.push(data);
//                alert("screenfields"+JSON.stringify(Screenfields));
$.ajax({
    type: "POST",
    url: "/updateticket",
    timeout: 6000,
    contentType: 'application/json',
    data: JSON.stringify({
        id: tddetailid,
        formdata: JSON.stringify(Screenfields)
    }),
    success: function(data) {
        var fdata = JSON.parse(JSON.stringify(data));
        if (fdata.status == '0') {
            Screenfields = [];
            alert("Data saved successfully");
            $('#formf').trigger("reset");
            $('#modal-dialog').modal('hide');
            window.location.reload();
        } else {
            // alert(fdata.status_msg);
            alert("Please select the proper details");
            Screenfields = [];
        }
    },
    error:function(xhr, status,error){
//                        alert(status+" "+error.Message+" "+xhr.responseText);
}
});
} else {
    // alert('Form not valid');
}
};

</script>


</body>

</html>

