<ul class="nav"> <li class="nav-header">Navigation</li>


<%
var pmenuid =0;
var rowpmenuid = 0;
var data1=menudata;

data1.forEach(function(row) {
 rowpmenuid = row.pmenuid;
	if (rowpmenuid  > 0)
     {
		if (pmenuid=rowpmenuid)
		{ %>
		
			<li><a href="<%=row.object %>"><i class="<%=row.fld_faicon %>"></i> <span><%=row.menuname %></span></a></li>
	<%	}
		else
		{
		pmenuid = rowpmenuid;
		%></ul>
		<ul class="sub-menu"><li><a href="<%=row.object %>"><i class="<%=row.fld_faicon %>"></i> <span><%=row.menuname %></span></a></li>
		<%}
}
     else
     {
	if(rowpmenuid  = 0)
	{
		%><ul class="sub-menu">
<li class="has-sub"><a href="<%=row.object %>"><b class="caret pull-right"></b><i class="<%=row.fld_faicon %>"></i> <span><%=row.menuname %></span></a></li>


	<%
	}
     }
      
  });%>
   <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
</ul>
